VITE_FIRESTORE_DATABASE_ID=(default)
VITE_SYSADMIN_UIDS=
VITE_ADMIN_UIDS=
VITE_WORKER_UIDS=
VITE_SYSADMIN_EMAILS=
VITE_ADMIN_EMAILS=
VITE_WORKER_EMAILS=
VITE_SYSADMIN_PHONES=
VITE_ADMIN_PHONES=
VITE_WORKER_PHONES=
VITE_FIREBASE_API_KEY=AIzaSyCBiNJtQBZdVs4INEL_hI_-1S1x_yZkzII
VITE_FIREBASE_AUTH_DOMAIN=savana-3f45a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=savana-3f45a
VITE_FIREBASE_STORAGE_BUCKET=savana-3f45a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=596547804022
VITE_FIREBASE_APP_ID=1:596547804022:web:ec42a071568c21397f3857
