.app-main {
  min-height: 100vh;
}

.app-main.no-header {
  padding-top: 0;
}

.app-main.home-header-offset {
  padding-top: 112px;
}

@media (max-width: 768px) {
  .app-main.no-header {
    padding-top: 0;
  }

  .app-main.home-header-offset {
    padding-top: 60px;
  }
}
